{% extends "base2.html" %}

{% block extra_style %}
    .header {
        background: url("{{ url_for('static', filename='images/our_speakers.jpg')}}");
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
{% endblock %}
{% block content %}
<h3 class="section-title text-center m-5">Our Speakers</h3>
    <h5 class="section-subtitle text-muted text-center m-5">The people who make Colosseum awesome</h5>
    <div class="container py-5">
        <div class="row">
            {% for speaker in object_list %}
            <div class="col-md-4 testimonial text-center">
                <div class="card mb-3 ml-auto mr-auto">
                    <img src="/{{ speaker.image }}" class="w-100" style="border-radius: 10px;" alt="{{ speaker.name }} Image" />
                </div>
                <h5 class="mb-1">{{ speaker.name }}</h5>
                <span class="text-muted d-block mb-2">{{ speaker.title }}</span>
                <p>{{ speaker.about }}</p>
                <div class="social d-table ml-auto mr-auto">
                    {% if speaker.twitter %}
                    <a class="mx-3 h4" href="{{ speaker.twitter }}" target="_blank">
                            <i class="fa fa-twitter"></i>
                    </a>
                    {% endif %}
                    {% if speaker.facebook %}
                    <a class="mx-3 h4" href="{{ speaker.facebook }}" target="_blank">
                            <i class="fa fa-facebook"></i>
                    </a>
                    {% endif %}
                    {% if speaker.website %}
                    <a class="mx-3 h4" href="{{ speaker.website }}" target="_blank">
                            <i class="fa fa-globe"></i>
                        </a>
                    {% endif %}
                    {% if session.logged_in %}
                    <a class="mx-3 h4" href="{{ url_for('delete_speaker', slug=speaker.slug) }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}